@font-face {
  font-family: "shrikhand";
  src: url(Police/Shrikhand-Regular.ttf);
  font-family: "roboto";
  src: url(Police/Roboto-Thin.ttf);
}

body {
  margin: 0;
  font-family: "roboto";
}

.title {
  font-family: "shrikhand";
}

main {
  min-width: 280px;
  max-width: 1200px;
  margin: auto;
}

/* Elements principaux */

.backgroundColorBlack {
  background-color: #000;
}

.backgroundColorGrey {
  background-color: lightgrey;
}

.backgroundColorLightgrey {
  background-color: #f2f2f2;
}

.backgroundColorWhite {
  background-color: #fff;
}

.colorWhite {
  color: white;
}

.colorPurple {
  color: #9356dc;
}

.colorBlack {
  color: #000;
}

.colorPink {
  color: #ff79da;
}

.colorGreen {
  color: #99e2d0;
}

.displayFlex {
  display: flex;
}

.alignItems {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.rowReverse {
  flex-direction: row-reverse;
}

.margin5 {
  margin: 5px;
}

.marginLR {
  margin-left: 10px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.padding-right {
  padding-right: 10px;
}

.height {
  height: 10px;
}

.width-text {
  font-size: smaller;
  font-weight: 800;
}

.width-text2 {
  font-size: x-small;
}

/* Header */

.logo {
  margin: 20px 40px 20px 40px;
  width: 150px;
}

/* Div image et section */

.img {
  object-fit: cover;
  width: 100%;
  height: 168px;
  position: absolute;
}

.heart-parent {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 5px;
}

.heart-parent .child1 {
  z-index: 100;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.heart-parent:hover .child1 {
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}

.heart-parent .child2 {
  z-index: 1;
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.heart-parent .child2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
  z-index: 10;
}

.heart-parent:hover .child2::after {
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}

/* Section */

section {
  border-radius: 25px 25px 0 0;
  background-color: #f2f2f2;
  position: relative;
  margin-top: 150px;
}

h3 {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  margin-left: 10px;
}

.list-item {
  background-color: #fff;
  border-radius: 1rem;
}

.flex-parent {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
}

.long-and-truncated {
  flex: 1;
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  white-space: nowrap;
  animation: slideOut 1s;
}

.flex-parent:hover .price {
  animation: slideIn 1s;
  animation-fill-mode: both;
  transition: all 1s ease-in-out;
}

.flex-parent:hover .check {
  animation: slideIn 1s;
  animation-fill-mode: both;
  transition: all 1s ease-in-out;
}

.check {
  position: absolute;
  right: -70px;
  background-color: #99e2d0;
  animation: slideOut 1s;
  height: 100%;
  width: 70px;
  padding-left: 0px;
  border-radius: 0 15px 15px 0;
}

.iCheck {
  color: #fff;
  margin: 25px 20px 20px 28px;
  transform: rotate(90deg);
  transition: all 1s ease-in-out;
}

.flex-parent:hover .iCheck {
  transform: rotate(0deg);
}

@keyframes slideIn {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 70px;
  }
}

@keyframes slideOut {
  from {
    margin-right: 70px;
  }
  to {
    margin-right: 0;
  }
}

.btn3 {
  border-radius: 50px;
  background-image: linear-gradient(#ff79da 0%, #9356dc 100%);
  box-shadow: 3px 5px 7px #d5d5d5;
  width: 170px;
  height: 40px;
  color: #fff;
  border: 0;
  margin: 20px 50px 20px 50px;
}

.animation {
  transition: 0.5s;
  animation: slideDown 1s ease-in-out 1;
  animation-fill-mode: both;
}

.animation1 {
  animation-delay: 0.5s;
}

.animation2 {
  animation-delay: 0.75s;
}

.animation3 {
  animation-delay: 1s;
}

.animation4 {
  animation-delay: 1.5s;
}

.animation5 {
  animation-delay: 1.75s;
}

.animation6 {
  animation-delay: 2s;
}

.animation7 {
  animation-delay: 2.5s;
}

.animation8 {
  animation-delay: 2.75s;
}

.animation9 {
  animation-delay: 3s;
}

.animation10 {
  animation-delay: 3.5s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Footer */

footer {
  height: 170px;
}

footer img {
  width: 100px;
}

.paddingLeftPR {
  padding-left: 15px;
}

.paddingLeftPartenaire {
  padding-left: 8px;
}

.marginLogoF {
  margin: 15px 0 10px 15px;
}
