@font-face {
    font-family: 'shrikhand';
    src: url(Police/Shrikhand-Regular.ttf);
    font-family: 'roboto';
    src: url(Police/Roboto-Thin.ttf);
}

body {
    margin: 0;
    font-family: 'roboto';
}

.title {
    font-family: 'shrikhand';
    margin: 0 90px 30px 90px;
    padding-top: 40px;
}

main {
    min-width: 280px;
    max-width: 1200px;
    margin: auto;
}

/* Elements principaux */

.backgroundColorBlack {
    background-color: #000;
}

.colorWhite {
    color: white;
}

.colorPurple {
    color: #9356DC;
}

.displayFlex {
    display: flex;
}

.alignItems {
    align-items: center;
}

.margin5 {
    margin: 5px;
}

.padding-right {
    padding-right: 10px;
}

.a {
    text-decoration: none;
    color: #000;
}

.margin-left {
    margin-left: 15px;
}

/* Header */

.logo {
    margin: 20px 40px 20px 40px;
    width: 150px;
}

section {
    background-color: #F2F2F2;
    height: 200px;
}

.email {
    text-decoration: none;
}

.email:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Footer */ 

footer {
    height: 170px;
}

footer img {
    width: 100px;
}

.paddingLeftPR {
    padding-left: 15px;
}

.paddingLeftPartenaire {
    padding-left: 8px;
}

.marginLogoF {
    margin: 15px 0 10px 15px;
}